/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

h3
  font-size: inherit
  font-weight: inherit
  margin: inherit
  line-height: inherit
  padding-top: 54px!important;
